html.touch #phone{
	width: 50%;
	background-color: cornflowerblue;
}

html.no-touch #phone{
	display: none;
}

html.touch #home{
	display: none;
}

html.no-touch #home{
	width: 50%;
	background-color: whitesmoke;
}